<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Storybot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="web/stylesheets/w3.css">
    <link rel="stylesheet" type="text/css" href="web/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="web/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="web/stylesheets/github-light.css" media="screen">

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="web/storybot.js"></script>
  </head>

  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <!-- PAGE HEADER -->
      <section class="page-header">
        <h1 class="project-name">Storybot</h1>
        <h2 class="project-tagline">Information Retrieval Project at KTH</h2>
        <a href="https://github.com/powion/storybot" class="btn">View on GitHub</a>
        <a href="https://github.com/powion/storybot/zipball/master" class="btn">Download .zip</a>
        <a href="https://github.com/powion/storybot/tarball/master" class="btn">Download .tar.gz</a>
      </section>

      <section class="main-content">
        <h2>
          <a class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
            <span aria-hidden="true" class="octicon octicon-link"></span>
          </a>Select a subreddit and view stories by Storybot.
        </h2>

        <!-- DROPDOWN MENU -->
        <!-- <select ng-model="selectedSource"
                ng-options="x.name for x in sources"
                ng-click="selectSource(x)">
        </select> -->

        <!-- DEFINE TABS -->
        <ul class="w3-navbar w3-light-grey">
          <li ng-repeat="x in sources">
            <a class="tabitems" ng-click="selectSource($event, x)">
              {{ x.name }}
            </a>
          </li>
        </ul>

        <!-- STORIES CONTAINER -->
        <div  class="w3-container w3-animate-opacity"
              ng-repeat="x in sources"
              ng-hide="x.hide">

          <!-- create a div for each story -->
          <div ng-repeat="t in x.text" class="{{x.name}}-texts w3-animate-opacity">
            <br><blockquote>{{ t }}</blockquote>
          </div>

          <!-- Make a paginator over all texts from selected source -->
          <ul class="w3-pagination">
            <li><a class="w3-hover-grey" ng-click="selectNextText()">
                &laquo;</a></li>
            <li ng-repeat="t in x.text">
              <a class="w3-hover-grey" ng-click="selectText($index)">
                {{ $index + 1 }}</a></li>
            <li><a class="w3-hover-grey"
                   ng-click="selectPrevText()">&raquo;</a></li>
          </ul>

        </div>

      </section>
    </div>

    <!-- <footer class="site-footer">
      <span class="site-footer-owner"><a href="https://github.com/powion/gitpage">Storybot</a> is maintained by <a href="https://github.com/powion">powion</a>.</span>

      <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
    </footer> -->

  </body>
</html>
